<div class="slideshow-container" id="{{name}}">
  <div #myImages>
    <div *ngFor="let image of images" class="mySlides fade">
      <img src="{{image.source}}">
    </div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div #dots style="text-align:center">
  <span *ngFor="let image of images; let index = index" class="dot" (click)="currentSlide(index + 1)"></span>
</div>