<div class="slideshow-container" id="{{name}}" >
  <h2>{{title}}</h2>
  <div *ngFor="let image of images" class="mySlides fade">
    <img src="{{image.source}}">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" *ngFor="let image of images; let index = index" (click)="currentSlide(index + 1)"></span>
</div>