
img {
    border-radius: 200px;
    width: 100%;
}
.gareth-avatar {
    background-image: url('../../../assets/garethAvatar.png');
    background-size: cover;
}

.body {
    padding-top: 32px
}

.gareth {
    text-align: center;
    width: 50%;
}

.describe {
    margin: 24px 48px 24px 48px;
    width: 100%;
}

.card {
    flex: auto;
    height: auto;
    border-radius: 4px;
    box-shadow: none !important;
}

.techyBoy {
    font-style: italic; 
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    .gareth {
        text-align: center;
        width: 250px !important;
        height: auto;
    }
}
@media screen and (max-width: 750px) {
    .container {
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        transition: all 1s ease-in-out !important;
        -webkit-transition: all 1s ease-in-out !important;
    }
    
    .card {
        width: 75%;
        margin: 8px 24px 16px 24px;
        transition: all 1s ease-in-out !important;
        -webkit-transition: all 1s ease-in-out !important;
    }

    .card-body{
        height: max-content;
    }
}
.list {
    grid-template-columns: repeat(auto-fill, minmax(33.333%, 33%));
    display: grid;
    justify-items: center;
    text-align: center;
    padding-left: 0;
}

mat-selection-list {
    background-color: white;
}

mat-selection-list.list-horizontal {
    display: flex;
    flex-direction: row;
}
