<div id="container">
    <app-header></app-header>
    <div class="body" id="body">
        <h2>Get to know me!</h2>
        <div class="container">

            <mat-card class="card gareth">
                <img src="../../../assets/garethAvatar.png">
              </mat-card>
            <mat-card class="card card-body describe">
                <mat-card-header>
                    <mat-card-title>Learn more about me</mat-card-title>
                    <mat-card-subtitle>Sofware developer</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        So what can I say other than I love programming! I have made this portfolio to
                        showcase my skills in Frontend development and some small glimpse of some
                        DevOps work!
                    </p>
                    <p>
                        I have a whole page dedicated to projects that I have worked on, although not 
                        very long at the moment, it is ever growing! I have started building my own 
                        apps and websites and releasing them under the name
                        <span class="techyBoy">techyBoy</span>.
                        
                        I'm not much of a designer, but my skills lie in other areas, such as:
                    </p>
                    <p class="skillList">
                        ● Java ● Spring ● Kotling ● HTML5 ● CSS3 ● Angular ● TypeScript ● Jenkins
                        ● Openshift ● GitLab ● Github ● Firebase ● PostgreSQL ● 
                    </p>
                    <ul>
                        <li>Java</li>
                        <li>Spring</li>
                        <li>Kotlin</li>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Angular</li>
                        <li>TypeScript</li>
                        <li>Jenkins</li>
                        <li>Openshift</li>
                        <li>GitLab</li>
                        <li>GitHub</li>
                        <li>Firebase</li>
                    </ul>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
    <app-footer></app-footer>          
</div>
