<div id="container">
    <app-header></app-header>
    <div class="body" id="body">
        <h2>This is me!</h2>
        <div class="container">
            <mat-card class="card gareth">
                <img src="../../../assets/garethAvatar-removebg-preview.png">
            </mat-card>
            <mat-card class="card card-body describe">
                <mat-card-header>
                    <mat-card-title>Gareth Clifford, thats me</mat-card-title>
                    <mat-card-subtitle>Sofware developer</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        So what can I say other than I love programming! I have made this portfolio to
                        showcase my skills in Frontend development and some small glimpse of some
                        DevOps work!
                    </p>
                    <p>
                        I have a whole page dedicated to projects that I have worked on, although not 
                        very long at the moment, it is ever growing! I have started building my own 
                        apps and websites and releasing them under the name
                        <span class="techyBoy">techyBoy</span>.
                        
                        I'm not much of a designer, but my skills lie in other areas, such as:
                    </p>
                    <ul class="list">
                        <li *ngFor="let skill of skillList" value="skill">{{skill}}</li>
                    </ul>
                    <p>
                        To see more of what I can do checkout out my projects!
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <app-footer></app-footer>          
</div>
