
img {
    border-radius: 200px;
    width: 150%;
}
 h2 {
     text-align: center;
 }
.gareth-avatar {
    background-image: url('../../../assets/garethAvatar.png');
    background-size: cover;
}

.body {
    padding-top: 32px
}

.gareth {
    text-align: center;
    margin-right: 5%;
    width: 40%;
}

.describe {
    margin: 24px 48px 24px 48px;
}

.card {
    flex: auto;
    height: auto;
    border-radius: 4px;
    box-shadow: none !important;
}

.techyBoy {
    font-style: italic; 
    font-weight: bold;
}

.skillList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .gareth {
        text-align: center;
        width: 250px !important;
        height: auto;
    }
}