<mat-toolbar class="nav">
    <!-- Mobile and small screen view -->
    <div class="toggleMenu">
      <button mat-icon-button (click)="onToggleSidenav()" [matMenuTriggerFor]="shortMenu">
        <mat-icon>menu</mat-icon>
      </button>
        <mat-menu #shortMenu="matMenu" yPosition="below">
          <button id="aboutBtnSmall" mat-menu-item routerLink="/about" routerLinkActive="active">About</button>
          <button id="projecsBtnSmall" mat-menu-item routerLink="/projects" routerLinkActive="active">Projecs</button>
          <button id="socialBtnSmall" mat-menu-item routerLink="/social" routerLinkActive="active">Social</button>
          <button id="contactBtnSmall" mat-menu-item routerLink="/contact-me" routerLinkActive="active">Contact</button>
        </mat-menu>
    </div> 
    <div class="spacer"></div>
    <a routerLink="/home" id="homeLogo"><span class="logo">techyBoy</span></a>
    <!-- Desktop View -->
    <div class="navBtns" id="navbar">
      <button id="aboutBtn" mat-button routerLink="/about" routerLinkActive="active" class="menu-button">About</button>
      <button id="projectsBtn" mat-button routerLink="/projects" routerLinkActive="active" class="menu-button">Projects</button>
      <button id="socialBtn" mat-button routerLink="/social" routerLinkActive="active" class="menu-button">Social</button>
      <button id="contactBtn" mat-button routerLink="/contact-me" routerLinkActive="active" class="menu-button">Contact</button>
    </div>
  </mat-toolbar>
  