
@import '../../../../styles/variables.scss';

.nav {
    padding: 8px 16px;
    display: block;
    align-items: center;
    background: transparent;
    // background-image: url("../../../../../assets/double-bubble-dark.png");
    // box-shadow: 0px 3px 5px #474647;
    text-align: center;
    color: white
}

.logo {
    font-family: $marckScript;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: white;
    margin: 16px 0 16px 0px;
    display: inline-block;
}
.logo2 {
    margin-left: 2px;
}

.menu-button {
    font-size: 14pt;
    font-weight: 300;
    margin-left: 4px;
}

/* --- Mobile view --- */
.toggleMenu {
    display: none; 
}

.spacer {
    display: none;
}

.mat-toolbar-single-row {
    height: 20%;
}

span {
    white-space: pre-wrap;
    // color: wheat;
}
.active {
    text-decoration: underline;
}
* :focus {
    outline: none !important;
}
@media screen and (max-width: 650px) {
    .nav {
        flex: 1;
        flex-flow: row-reverse;
        border-bottom: 1px solid wheat;
    }

    .toggleMenu {
        display: block;
        float: left;
    }

    .spacer {
        display: block;
        flex: 1 1 auto;
    }

    .menu-button {
        display: none;
    }

    a {
        vertical-align: text-top;
    }

    .logo {
        align-self: flex-end;
        text-align: left;
        font-size: 28px;
        margin: 0;
    }

    .logo2 {
        margin-left: 2px;
    }

    .mat-toolbar-single-row {
        height: 60px;
    }
    .navBtns {
        display: none;
        border: none !important;
    }
}

.navBtns {
    border-bottom: 1px solid wheat;
    border-top: 1px solid wheat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 16px;
    
    button {
        margin: 10px;
    }
}
