// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../../styles/variables.scss';

.linkedin-header-image {
    background-image: url('../../../assets/linkedin.svg');
    background-size: cover;
}

.github-header-image {
    background-image: url('../../../assets/github.svg');
    background-size: cover;
}

.card-heading {
    font-family: $jaldi;
    font-size: 34px;
}