<div class="container">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Linkedin</mat-card-title>
            <mat-card-subtitle>We're all human, even I make mistakes sometimes too!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
            This is really embarassing. Sorry about this.
            Click back to go back! 
            </p>
        </mat-card-content>
    </mat-card>
</div>
