<div class="bg-img" id="background-img"></div>
<div class="bg-text">
  <h1>Gareth Clifford</h1>
  <!-- Change this to something more interesting -->
  <p>Hi there and welcome to my portfolio</p>
  <!-- Add some on hover effect for buttons-->
  <!-- Ensure everything is same font -->
  <div class="navBtns" id="navbar">
    <button id="aboutBtn" mat-button routerLink="/about" routerLinkActive="active" class="menu-button">About</button>
    <button id="projectsBtn" mat-button routerLink="/projects" routerLinkActive="active"
      class="menu-button">Projects</button>
    <button id="socialBtn" mat-button routerLink="/social" routerLinkActive="active" class="menu-button">Social</button>
    <button id="contactBtn" mat-button routerLink="/contact-me" routerLinkActive="active"
      class="menu-button">Contact</button>
  </div>
</div>