<div class="bg-img" id="background-img"></div>
<div class="bg-text">
  <h1>Gareth Clifford</h1>
  <p>Hi there and welcome to my portfolio</p>
  <div class="navBtns" id="navbar">
    <button id="homeBtn" mat-button routerLinkActive="active" class="menu-button">Home</button>
    <button id="aboutBtn" mat-button routerLink="/about" routerLinkActive="active" class="menu-button">About</button>
    <button id="socialBtn" mat-button routerLink="/social" routerLinkActive="active" class="menu-button">Social</button>
    <button id="contactBtn" mat-button routerLink="/contact-me" routerLinkActive="active" class="menu-button">Contact</button>
  </div>
</div>