<div id="container">
  <app-header></app-header>
  <div class="body" id="body">
    <h2>Let's take a look at what I can do</h2>
    <div class="container">
      <mat-card class="card describe">
        <mat-card-title>
          Project One
        </mat-card-title>
        <mat-card-subtitle>
          Personal project
        </mat-card-subtitle>
        <mat-card-content>
          <div id="projectOneCarousel" class="carousel">
            <app-carousel [images]="taxCalcImages"></app-carousel>
          </div>
          <p>
            Recently I have been trying my hand in app development, I have created an app called
            the Tax Calculator. I decided to use Kotlin and Android Studio as it is based of Java
            so was able to quickly grasp the concepts. Once fully completed, it will be published
            to the Google Play store, available for download on Android devices. The purpose of
            the app is to calculate your tax and national insurance based on your annual income
            by using in app calculations with no external APIs. There are additional options
            such as student loans, pension contributions and overtime or bonus. An additional
            feature is a save and retrieve option, in which the user will be given a randomly
            generated alphanumeric code in which they are able to input this code and retrieve
            the details they had previously entered. I have achieved this by using the Firebase
            Realtime Database.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card describe">
        <mat-card-title>
          Project Two
        </mat-card-title>
        <mat-card-subtitle>
          Professional project
        </mat-card-subtitle>
        <mat-card-content>
          <div id="projectTwoCarousel" class="carousel">
            <app-carousel [title]="'Project two'" [images]="siteImages"></app-carousel>
          </div>
          <p>
            I am currently creating a website in which to host my personal portfolio where I can
            further my skills as a developer while showcasing my abilities in a digestible format.
            I am creating this portfolio using the frontend framework Angular, for the backend
            services I am using NodeJS, and I am using Firebase to host. I have created this to
            apply the skills I have learnt to a different environment.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-footer></app-footer>
</div>