<div class="container">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Oops something went wrong...</mat-card-title>
          <mat-card-subtitle>We're all human, even I make mistakes sometimes too!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            This is really embarassing. Sorry about this.
            Click back to go back! 
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="goBack(true)">Back</button>
          <button mat-button (click)="goBack(false)">Home</button>
        </mat-card-actions>
      </mat-card>
</div>
