<div id="container">
  <app-header></app-header>
  <div class="body" id="body">
    <a target="_blank" href='https://firebasestorage.googleapis.com/v0/b/personal-portfolio-25b96.appspot.com/o/10737813-BAG12523814-e-Voucher.pdf?alt=media&token=aeee7cfb-850d-4b02-b06f-83860de07d6a'>
      <button id="cvBtn" mat-button  class="menu-button">Download</button>
      <div>
        <iframe class="cvIframe" src="https://firebasestorage.googleapis.com/v0/b/personal-portfolio-25b96.appspot.com/o/10737813-BAG12523814-e-Voucher.pdf?alt=media&token=aeee7cfb-850d-4b02-b06f-83860de07d6a#toolbar=0"></iframe>
      </div>
    </a>
  </div>
  <app-footer></app-footer>
</div>