@import '../../styles/variables.scss';

.column {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0px 5px;
}

mat-card {
  width: 75%;
}

// Pop up window
.spinner {
  vertical-align: middle;
  margin: auto;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.submit-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  color: black;

  div {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -24%);
    top: 35%;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin: 0 50px 0 0px;
    text-align: center;
    width: initial;
  }
}

.s-card {
  border-radius: 4px;
  background-color: #fff;
  padding: 32px;
  margin: 64px 0;
}

.s-card--title {
  font-size: 32px;
  margin: 0 0 32px 0;
  font-weight: 300;
}

.body-title {
  font: 13px $jaldi;
  line-height: 16px;
  font-weight: bold;
}