<div id="container">
    <app-header></app-header>
    <div class="body" id="body">
        <div class="container">
            <mat-card class="card-body describe">
                <mat-card-header>
                    <mat-card-title>Want to know more? Get in touch!</mat-card-title>
                </mat-card-header>

                <form [formGroup]="contactDetails">
                    <mat-card-content class="column">
                        <app-input [label]="'Name'" [typeOfInput]="'input'" [control]="contactDetails.get('name')">
                        </app-input>
                        <app-input [label]="'Email address'" [typeOfInput]="'input'"
                            [control]="contactDetails.get('emailAddress')"></app-input>
                        <app-input [label]="'Subject'" [typeOfInput]="'input'"
                            [control]="contactDetails.get('subject')"></app-input>
                        <app-input [label]="'Message'" [typeOfInput]="'text-area'"
                            [control]="contactDetails.get('emailBody')"></app-input>
                    </mat-card-content>
                </form>

                <button mat-flat-button color="primary" id="submit" (click)="submit()">Submit</button>
            </mat-card>
        </div>
        <div *ngIf="loading" class="submit-modal">
            <div class="s-card">
                <h1 tabindex="0" class="s-card--title">We're {{process}} your request</h1>
                <span class="spinner"></span>
                <p tabindex="0" class="body-title">Your details can take up to 30 seconds to process</p>
                <p tabindex="0">Depending on your internet connection it may take longer. Don't close this window or
                    refresh</p>
            </div>
        </div>
        <app-footer></app-footer>
    </div>