// .error-header-image {
//     background-image: url('../../../../assets/icons8-speak-no-evil-monkey-48.png');
//     background-size: cover;
//     filter: invert(1);
// }

// .body {
//     padding-top: 32px
// }

// #body {
//     padding-bottom: 0px !important;
//     width: 50%;
//     display: flex;
// }

// .describe {
//     margin: 24px 48px 24px 48px;
// }

// .card {
//     flex: auto;
//     height: auto;
//     border-radius: 4px;
//     box-shadow: none !important;
// }

// mat-card {
//     width: 50vw;
// }
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../../../styles/variables.scss';

.error-header-image {
    background-image: url('../../../../assets/icons8-speak-no-evil-monkey-48.png');
    background-size: cover;
}

.container {
    width: 75%;
}

.body {
    padding-top: 32px
}

.gareth {
    text-align: center;
    width: 40%;
}

.describe {
    margin: 24px 48px 24px 48px;
}

.card {
    flex: auto;
    height: auto;
    border-radius: 4px;
    box-shadow: none !important;
}

a {
    color: #4285f4;
}
