<h2 mat-dialog-title><img src={{imageSrc}}> Caution</h2>
<!-- <h2 mat-dialog-title><div class="example-header-image mat-card-avatar"></div> Caution</h2> -->
<mat-dialog-content class="mat-typography">
  <h3>You are about to be redireced to {{socialMedia}}. Are you sure you want to leave this site.</h3>
  <p class="thing">
    Note that when you leave this site we have no control on what other actions are invlved.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Back to portfolio</button>
  <button class="mat-raised-button" (click)="goToLink()">Take me to LinkedIn</button>
</mat-dialog-actions>

<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

    <!-- <h2 mat-dialog-title>{{description}}</h2>

    <mat-dialog-content [formGroup]="form">
      
        <mat-form-field>
            <input matInput
                    placeholder="Course Description"
                   formControlName="description">
        </mat-form-field>
          ....
     
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Close</button>
        <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
    </mat-dialog-actions> -->