.row {
  display: flex;
  justify-content: center;
}

.mat-dialog-title {
  margin: 10px 0 0px 0px;
}

mat-dialog-content {
  text-align: center;
}

mat-dialog-actions {
  text-align: center;
  justify-content: center;
  position: inherit;
}
